
#wrapper {
	height: 100%;
	overflow: auto;

	background-color: black;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#inner-wrapper {
	min-height: 100%;
	position: relative;
}

#pageTime {
	text-align: center;
	font-size: 0.8em;
	opacity: 0.6;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
}

#legal {
	font-size: 0.5em;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	opacity: 0.5;
}

#topbar {
	position: fixed;
	top: 0;
	height: 45px;
	width: 100%;
	background: rgba(0, 0, 0, .8);
	z-index: 3;
	line-height: 40px;
}

#topbar h1, #topbar h2, #topbar h3, #topbar form {
	display: inline;
}

#topbar .align-right {
	padding-right: 25px;
}

#topbar .align-left {
	padding-left: 25px;
}

#dev {
	position: absolute;
	color: red;
	height: 0;
	font-size: 0.5em;
	top: 13px;
	left: 76px;
}

#beta {
	position: absolute;
	top: 13px;
	left: 89px;
	color: red;
	height: 0;
	font-size: 0.5em;
}

#sigAddForm th, #sigEditForm th {
	text-align: right;
}

#sigAddForm table tr td, #sigEditForm table tr td {
	padding: 2px 0;
}

#sigTable {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;
	margin-left: -1px;
}

#sigTable th {
	background: rgba(51, 51, 51, .7);
	border: 1px solid #000;
}

#sigTable td {
	background: rgba(17, 17, 17, .7);
	border: 1px solid #000;
	cursor: default;
}

#sigTable tr:hover td {
	background-color: #333;
}

#sigTable tr.selected td {
	background-color: #222;
}

#sigTable th:nth-child(1) {
	width: 30px;
}

#sigTable th:nth-child(2) {
	width: 40px;
}

#sigTable th:nth-child(3) {
	width: 40px;
}

#sigTable th:nth-child(5), #sigTable th:nth-child(6) {
	width: 40px;
}

#sigTable th:nth-child(7), #sigTable th:nth-child(8) {
	width: 10px;
	background: transparent;
	border: none;
}

#sigTable td:nth-child(1) {
	font-family: "lucida";
	letter-spacing: 1px;
}

#sigTable td.leftAlign {
	text-align: left;
	padding-left: 2px;
}

#sigTable td.centerAlign {
	text-align: center;
}

#sigTable td.rightAlign {
	text-align: right;
	padding-right: 2px;
}

#sigTable a.siteLink {
	color: #990;
}

.tablesorter .tablesorter-header {
	cursor: pointer;
	vertical-align: middle;
	font-size: 10px;
}

.tablesorter .tablesorter-header:focus {
	outline: none;
}

.tablesorter .tablesorter-header i:before, .tablesorter .sortable i:before {
	content: "\f0dc";
	vertical-align: bottom;
	padding: 1px 2px;
	float: right;
}

.tablesorter .headerSortUp,
.tablesorter .tablesorter-headerSortUp,
.tablesorter .tablesorter-headerAsc {
	color: #eee;
}

.tablesorter .headerSortUp i:before,
.tablesorter .tablesorter-headerSortUp i:before,
.tablesorter .tablesorter-headerAsc i:before {
	content: "\f0de";
}

.tablesorter .headerSortDown,
.tablesorter .tablesorter-headerSortDown,
.tablesorter .tablesorter-headerDesc {
	color: #eee;
}

.tablesorter .headerSortDown i:before,
.tablesorter .tablesorter-headerSortDown i:before,
.tablesorter .tablesorter-headerDesc i:before {
	content: "\f0dd";
}

.tablesorter thead .sorter-false {
	cursor: default;
}

html .ui-selectmenu-menu li a, html .ui-selectmenu-status {
	padding: 0em 1em 0em .5em;
	font-weight: bold;
	text-align: left;
}

html a.ui-selectmenu:hover {
	text-decoration: none;
}

html .ui-selectmenu {
	height: auto;
	//margin-bottom: .2em;
	//padding: 0.1em;
}

html .ui-selectmenu-menu ul {
	//padding: 0 0.1em;
}

#whType, #sigID {
	text-transform: uppercase;
	text-align: center;
	padding-left: 0px;
}

.tooltip-data {
	background: rgba(40, 40, 40, .9);
	padding: 5px;
	color: #CCC;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;

	border-radius: 3px;
}

.tooltip-data table {
	border: none;
	border-collapse: collapse;
}

#clipboard {
	position: fixed;
	left: -99em;
	top: 0;
}

#searchSpan {
	display: none;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }

#chainMenu, #signatureColumnMenu {
	z-index: 5;
}

/* Loading animation container */
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
}

/* Spinning circle (inner circle) */
.loading .maskedCircle {
	width: 2em;
	height: 2em;

	-webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;

	border: 3px solid #000;
}

/* Spinning circle mask */
.loading .mask {
	width: 1em;
	height: 1em;
	overflow: hidden;
}

/* Spinner */
.loading .spinner {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 2em;
	height: 2em;
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

table.stdTable {
	width: 100%;
}

table.stdTable th {
	text-align: left;
}

div.overlay {
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;;
}

/* Options Styling */
.ui-accordion .ui-accordion-content {
	padding: 0.5em;
	background: none;
}

.ui-accordion .ui-accordion-header:focus {
	outline: none;
}

.optionsTable {
	color: #444;
	border-collapse: collapse;
}

.optionsTable th {
	text-align: left;
}

.optionsTable td {
	text-align: right;
}

tr.line td, tr.line th {
	border-bottom: 1px solid #555;
}

.optionsTable tr {
	height: 2em;
}

#masks {
	text-align: left;
	padding-left: 10px;
}

div.maskCategory {
	min-height: 80px;
	position: relative;
}

div.maskCategoryLabel {
	position: absolute;
	top: 80px;
	left: -12px;
	width: 80px;
	text-align: center;
	font-weight: bold;

	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);

	-ms-transform-origin: left top 0;
	-webkit-transform-origin: left top 0;
	transform-origin: left top 0;
}
/* --------------- */

i.closeIcon {
	position: absolute;
	top: 0;
	right: 0;
	margin: -6px;
	font-size: 1.5em;
}

i.closeIcon i {
	position: absolute;
	top: 25%;
	right: 25%;
	z-index: 1;
	font-size: 0.5em;
	color: lightgray;
}

i.closeIcon:hover {
	color: darkorange;
}

#activityGraph svg > g:nth-child(3) > g > path {
	fill: rgba(10, 10, 10, 0.6);
	stroke: rgba(40, 40, 40, 0.8);
}

#activityGraph svg > g:nth-child(3) > g > g > text {
	fill: #CCC;
}

#activityGraph svg > g:nth-child(2) > g:last-child > g {
	cursor: pointer;
}

/* JBOX */
/* Global */

.validation-tooltip .jBox-container, .validation-tooltip .jBox-pointer:after {
	background: #D93627;
	color: white;
	border: none;
	font-weight: bold;
	font-size: 1.2em;
	padding: 3px;
}

.jBox-container {
	background: #333;
	color: #CCC;
	min-height: 20px;
}

.jBox-content {
	padding: 4px 5px;
}

/* Pointer */

.jBox-pointer-right { right: 2px; }

.jBox-pointer:after {
	background: #333;
}

/* jBox Notice */

.jBox-Notice .jBox-container {
    border-radius: 3px;
	box-shadow: 0 0 3px #000;

	color: #fff;
	font-size: 1.1em;
	text-shadow: 0 -1px 0 #000;
	background: #333;
	background-image: linear-gradient(to bottom, #444, #222);
}

.jBox-Notice .jBox-content {
	padding: 6px 10px;
}

.jBox-Notice .jBox-title {
	padding: 8px 20px 0;
}

.jBox-Notice-color .jBox-container {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.jBox-Notice-gray .jBox-container {
	color: #666;
	text-shadow: 0 1px 0 #fff;
	background: #f4f4f4;
	background-image: linear-gradient(to bottom, #fafafa, #f0f0f0);
}

.jBox-Notice-red .jBox-container {
	background: #b02222;
	background-image: linear-gradient(to bottom, #ee2222, #b02222);
}

.jBox-Notice-green .jBox-container {
	background: #70a800;
	background-image: linear-gradient(to bottom, #95cc2a, #70a800);
}

.jBox-Notice-blue .jBox-container {
	background: #2b91d9;
	background-image: linear-gradient(to bottom, #5abaff, #2b91d9);
}

.jBox-Notice-yellow .jBox-container {
	color: #744700;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
	background: #ffb11f;
	background-image: linear-gradient(to bottom, #ffd665, #ffb11f);
}

.jBox-Notice-yellow .jBox-container a {
	color: #999;
}

/* Autocomplete */
ul.ui-autocomplete {
	max-height: 140px;
	overflow: hidden;
}

/*
.ui-menu ul.ui-menu {
	-webkit-border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -ms-border-top-left-radius: 0px;
    -o-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}
*/


td.google-visualization-orgchart-linenode[data-signatureid] {
	cursor: pointer;
}

#chainGrid {
	position: absolute;
	width: 100%;
	z-index: -10;
	margin-left: -3px;
	color: #777;
}

#chainGrid .top td {
	height: 18px;
}

#chainGrid .line td {
	height: 28px;
	border-bottom: 1px solid #333;
}

#chainGrid .space td {
	height: 13px;
}

#chainGrid .red td {
	border-bottom-color: #FF4747;
	color: #FF4747;
}

#chainGrid .yellow td {
	border-bottom-color: #F5B544;
	color: #F5B544;
}

#chainGrid .green td {
	border-bottom-color: #50D25A;
	color: #50D25A;
}

#chainTabs {
	padding-right: 10px;
}

.controls {
    position: absolute;
    padding: 3px;
    z-index: 1;
	width: 100%;
	box-sizing: border-box;
}

.controls i {
	font-size: 1.2em;
	padding: 0px 2px;
	vertical-align: middle;
	font-style: normal;
}

.tab {
	display: inline-block;
	min-width: 75px;
	border-bottom: 2px solid #333;
	cursor: pointer;
	vertical-align: top;
	text-align: right;
}

.tab:hover {
	border-bottom-color: #666;
}

.tab.current {
	border-bottom-color: #4399F0;
}

.tab .name {
	padding-left: 4px;
	float: left;
}

.tab .closeTab, .tab .editTab {
	opacity: 0;
	visibility: hidden;
	float: right;
	font-size: .8em;
	padding: 2px 2px 0 4px;

	transition: opacity .15s ease-out;
	-moz-transition: opacity .15s ease-out;
	-webkit-transition: opacity .15s ease-out;
	-o-transition: opacity .15s ease-out;
}

.tab:hover .closeTab, .tab.current:hover .editTab {
	opacity: 1;
	visibility: visible;
}

#guide td:first-child {
	width: 30px;
}

#guide div {
	width: 20px;
}

.guide-stable {
	border-bottom: 1px solid #38d;
}

.guide-eol {
	border-bottom: 1px dashed #38d;
}

.guide-destab {
	border-bottom: 1px solid #F5B544;
}

.guide-critical {
	border-bottom: 1px solid #FF4747;
}

.guide-frigate {
	border-bottom: 1px solid #50D25A;
}

#massTable td:nth-child(1) {
	min-width: 12em;
}

#massTable td:nth-child(2) {
	width: 2em;
	text-align: center;
}

#massTable td:nth-child(3) {
	width: 12em;
	text-align: center;
}

#massTable td:nth-child(4) {
	width: 8em;
	text-align: right;
}

#massTable td:nth-child(5) {
	width: 14em;
	text-align: right;
}

#donate {
	border: none;
	height: 48px;
	box-shadow: 0px 0px 25px 5px black;
	-webkit-box-shadow: 0px 0px 25px 5px black;
	cursor: pointer;
}

#dialog-admin .menu {
	width: 100px;
	height: 100%;
	float: left;
}

#dialog-admin .window {
	height: 100%;
	margin-left: 100px;
	overflow: auto;
}

#dialog-admin .menu li {
	list-style-type: none;
}

#dialog-admin .menu li a {
	color: #666;
}

#dialog-admin .menu li a:focus {
	outline: none;
}

#dialog-admin .menu li.active a {
	color: orange;
}

#dialog-admin #userTable th {
	text-align: left;
	border-bottom: 1px solid #333;
}

#dialog-admin #userTable tr:nth-child(even) td {
	border-bottom: 1px solid #aaa;
}

#dialog-admin .tablesorter .tablesorter-header i:before, #dialog-admin .tablesorter .sortable i:before {
	float: none;
}

#dialog-admin .tablesorter .headerSortUp,
#dialog-admin .tablesorter .tablesorter-headerSortUp,
#dialog-admin .tablesorter .tablesorter-headerAsc {
	color: orange;
}

#dialog-admin .tablesorter .headerSortDown,
#dialog-admin .tablesorter .tablesorter-headerSortDown,
#dialog-admin .tablesorter .tablesorter-headerDesc {
	color: orange;
}

div.ui-dialog[aria-describedby='dialog-admin'] .menu {
	margin-right: 6px;
	border-right: 1px solid #aaa;
}

div.ui-dialog[aria-describedby='dialog-admin'] .window [data-window] {
	height: 100%;
}

div.ui-dialog[aria-describedby='dialog-admin'] .window table tbody tr:nth-child(even) td {
	border-bottom: 1px solid #999;
}

div.ui-dialog[aria-describedby='dialog-admin'] .ui-dialog-traypane {
	margin-left: 120px;
	margin-top: 8px;
	font-size: 16px;
	color: #333;
}

[data-icon="user"] + .badge {
	position: absolute;
	top: -5px;
	right: -10px;
}
